*{
    padding:0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
 
}

.navbar{
    height: 60px;
    background-color: #0f1111;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}
.logo{
    height: 49px;
    width: 100px;
    background-image: url(amazon_logo.png);
    background-size: cover;
}

.border{
    border: 2px solid transparent;
}

.border:hover{
    border:2px solid white;

}

.addfirst{
    font-size: 0.75rem;
    color: white;
    margin-left:19px;

}

.addsecond{
    font-size: rem;
    display: flex;
    align-items: center;
    color: white;
}
.option{
    color: black;
}


.searchbar{
    display: flex;
    background-color
    : red;
    height: 40px;
    width: 620px;
    border-radius: 4px;
    justify-content: space-evenly;
}
.search{
    display: flex;
    color: black;
    width: 50px;
    align-items: center;
    justify-content: center;
    font-size: 1.3rem;
    background-color: #febd68;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;


}
.searchselect{
    width: 50px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: none;
}
.searchinput{
    width: 100%;
    font-size: 1rem;
    border: none;
} 

.navsignin{
    color: white;
}

span{
    font-size: 0.7rem;
}
.navsecond{
    font-size: 0.85rem;
    font-weight: 700;
}
.navadsignin{
    color: white;
     font-size: 0.85rem;
    font-weight: 700;
}
.navcart i{
    color: white;
    font-size: 30px;
}
.navcart{
    color: white;
    font-size: 0.85rem;
    font-weight: 700;
}
.searchbar:hover{
    border: 2px solid orange;
}

/*box3*/
.pannel{
    height:40px;
    background-color: #222f3d;
    display: flex;
    align-items: center;

}
.panelops p{
    display: inline;
    margin: 15px;
}


.panelops{
    color: white;
    align-items: center;
    width: 80%;
    font-size: 0.85rem;
}
.panelforall{
    color: white;
    padding: 5px;
}

.shop{
    color: white;
    padding-right: 5px;
    font-size: 0.9rem;
    font-weight: 500;
}
.herosection{
    background-image: url(hero_image.jpg);
    height: 330px;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: end;
}
.heromsg{
    color: black;
    background-color: white;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.85rem;
    width: 90%;
    margin: 15px;
    text-decoration: none;

}

.heromsg a {
    color: #007185;
}

.shopsec{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    background-color: #e2e7e6;
    
}

.box{
    height: 400px;
    width: 23%;
    background-color: white;
    padding: 20px 0px 15px;
    margin-top: 15px;

}

.boximage{
    height: 300px;
    background-size: cover;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.boxcontent{
    margin-left: 1rem;
    margin-right: 1rem;
}
.footer{
    background-color: #374753;
    color: white;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.85rem;
    margin-top: 10px;
}
.footer2{
    color: white;
    background-color: #222f3d;
    height: 300px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
ul a{
    display: block;
    font-size: 0.85rem;
    color: #dddddd;
    margin-top: 10px;
}

.footpanel3{
    background-color: #222f3d;
    display: flex;
    border-top: 2px solid white;
    height: 68px;
    justify-content: center;
    align-items: center;

}
/* Mobile Responsive */

@media (max-width: 768px) {

  *{
    box-sizing: border-box;
  }

  .navbar{
    flex-wrap: wrap;
    height: auto;
    padding: 10px;
  }

  .nav-search{
    width: 100%;
    margin: 10px 0;
  }

  .hero-section{
    height: 200px;
    background-size: cover;
  }

  .shop-section{
    flex-direction: column;
    align-items: center;
  }

  .box{
    width: 90%;
    margin-bottom: 15px;
  }

  footer{
    text-align: center;
  }

  img{
    max-width: 100%;
    height: auto;
  }

}
